---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
ColumnLimit: 90
ExperimentalAutoDetectBinPacking: true
FixNamespaceComments: true
IndentWidth: 2
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ReflowComments: true
PenaltyBreakComment: 1
PenaltyBreakOpenParenthesis: 1  # modified; was 0
SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
TabWidth: 2
UseTab: Never
...
