*_test
*~
*.a
*.so
*.out
*.o
examples/example1d1
examples/example1d1c
examples/example2d1
examples/guru1d1
examples/example1d1f
examples/example1d1cf
examples/example2d1f
examples/guru1d1f
fortran/examples/guru1d1
fortran/examples/nufft1d_demo
fortran/examples/nufft1d_demo_legacy
fortran/examples/nufft2d_demo
fortran/examples/nufft2dmany_demo
fortran/examples/nufft3d_demo
fortran/examples/guru1d1f
fortran/examples/nufft1d_demof
fortran/examples/nufft1d_demo_legacyf
fortran/examples/nufft2d_demof
fortran/examples/nufft2dmany_demof
fortran/examples/nufft3d_demof
test/dumbinputs
test/finufft1d_basicpassfail
test/testutils
__pycache__*

docs/_build

build/
.vscode/

cufinufft/python/cufinufft/docs/_build
cufinufft/python/cufinufft/docs/_static
cufinufft/python/cufinufft/docs/_templates
