repos:
  - repo: local
    hooks:
      - id: git-clang-format-staged
        name: git clang-format (staged only)
        entry: git-clang-format --staged
        language: python
        additional_dependencies:
          - clang-format
        pass_filenames: false
        types_or: [ c++, c, cuda ]
        files: \.(c|cc|cpp|h|hpp|cu|cuh)$
        exclude: '(^|/)(matlab/.*)$'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-illegal-windows-names
      - id: mixed-line-ending
  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.23.2
    hooks:
      - id: gersemi
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        # Optional: Include additional validations from SchemaStore
        additional_dependencies: ["validate-pyproject-schema-store[all]"]
        files: ^python/(finufft|cufinufft)/pyproject\.toml$
