.. _perftest_timings:

Performance regression
========================

This page compares performance of every FINUFFT release version and latest commit on master.

The CPU used for all benchmarks below is: {{ cpu_name }}

AVX extensions present: {{ simd_features }}.

FMA supported: {{ fma_supported }}.

{% for dim, transform_groups in dim_transform_groups.items() %}
{{ dim }}D Transforms
---------------------------------------------

{% for group, images in transform_groups.items() %}
Type {{ group }}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{% for image in images %}
Parameters: ``{{ image.params }}``

.. image:: {{ image.path }}
   :alt: {{ image.path }}
   :width: 100%

{% endfor %}
{% endfor %}
{% endfor %}
