name: C++ Build

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:
  Linux:
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux_2_28_x86_64:latest

    steps:
    - uses: actions/checkout@v4

    - name: Install fftw
      run: |
        yum install -y fftw3-devel

    - name: Compile C++ code
      run: |
        make spreadtestall
        make lib
        make test

  MacOS_clang:
    runs-on: macos-13
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.15

    steps:
    - uses: actions/checkout@v4

    - name: Install omp and fftw
      run: |
        brew install libomp fftw
        cp make.inc.macosx_clang make.inc

    - name: Compile C++ code
      run: |
        make spreadtestall
        make lib
        make test

  MacOS_gcc:
    runs-on: macos-13
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.15

    steps:
    - uses: actions/checkout@v4

    - name: Install gcc and fftw
      run: |
        brew install gcc@12 fftw
        cp make.inc.macosx_gcc-12 make.inc

    - name: Compile C++ code
      run: |
        make spreadtestall
        make lib
        make test

  Windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: actions/checkout@v4
    - name: 'Setup MSYS2'
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: false
        install: >-
          git
          make
          diffutils
        pacboy: >-
          toolchain:p
          fftw:p
    - name: Compile C++ code
      run: |
        cp make.inc.windows_msys make.inc
        make spreadtestall && make lib && make test
