name: Valgrind memcheck

on: [push, pull_request]

jobs:
  valgrind:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: gcc
          cmake: true
          ninja: true
          vcpkg: false
          cppcheck: false
          clangtidy: false

      - name: Prepare
        run: |
          sudo apt update
          sudo apt install -y libfftw3-dev valgrind

      - name: Detect CPU and Configure CMake
        run: |
          if grep -q avx512 /proc/cpuinfo; then
            march="x86-64-v3"
          else
            march="native"
          fi
          cmake -S . -B ./build -G Ninja \
            -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo \
            -DFINUFFT_ARCH_FLAGS="-march=$march" \
            -DFINUFFT_BUILD_TESTS=ON \
            -DFINUFFT_USE_SANITIZERS=OFF \
            -DMEMORYCHECK_COMMAND=$(which valgrind) \
            -DMEMORYCHECK_COMMAND_OPTIONS="--leak-check=full --show-leak-kinds=definite,possible --errors-for-leak-kinds=definite --error-exitcode=1 --track-origins=yes --undef-value-errors=yes" \
            -DMEMORYCHECK_TYPE=Valgrind

      - name: Build
        run: cmake --build ./build --config RelWithDebInfo

      - name: Memcheck (CTest)
        working-directory: ./build
        run: |
          ctest -T memcheck --output-on-failure -j
