name: Valgrind memcheck

on: [push, pull_request]

jobs:
  valgrind:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1.1.1
        with:
          compiler: gcc
          cmake: true
          ninja: true
          vcpkg: false
          cppcheck: false
          clangtidy: false

      - name: Prepare
        run: |
          sudo apt update
          sudo apt install -y libfftw3-dev valgrind

      - name: Configure CMake
        run: |
          cmake -S . -B ./build -G Ninja \
            -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo \
            -DFINUFFT_BUILD_TESTS=ON \
            -DFINUFFT_USE_SANITIZERS=OFF

      - name: Build
        run: cmake --build ./build --config RelWithDebInfo

      - name: Memcheck (CTest)
        working-directory: ./build
        env:
          CTEST_MEMORYCHECK_COMMAND: valgrind
          CTEST_MEMORYCHECK_COMMAND_OPTIONS: "--leak-check=full --show-leak-kinds=definite,possible --errors-for-leak-kinds=definite"
        run: |
          ctest -T memcheck --output-on-failure -j
